* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

body, html {
	height: 100%;
}

input[type=text],
input[type=button],
input[type=submit],
input[type=password],
input[type=number],
textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

input {
	border: 0;
}

.clear {
	clear: both;
}

.container {
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w50 {
	padding: 0 10px;
	width: 50%;
}

.w33 {
	width: 33.3%;
	padding: 0 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-center {
	text-align: center;
}

.msg-success {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	padding: 15px 2%;
	text-align: center;
	color: #008000;
	background: #dff2bf;
	font-weight: bold;
	font-size: 20px;
	z-index: 999;
	width: 100%;
}

.msg-error {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	padding: 15px 2%;
	text-align: center;
	color: white;
	background: #ff4040;
	font-weight: bold;
	font-size: 20px;
	z-index: 999;
	width: 100%;
}

.erro-404 {
	transform: translateY(25%);
	-ms-transform: translateY(25%);
}

.erro-404 h2, p {
	text-align: center;
	margin-top: 20px;
}

.paginator {
	text-align: center;
}

.paginator a {
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	padding: 6px 4px;
	border: 1px solid rgb(220,220,220);
	color: rgb(100,100,100);
}

.paginator a.active-page {
	background: rgb(220, 220, 220);
}

/*###############################################################################*/

header {
	background-color: #4286f4;
	padding: 8px 0;
}

.logo {
	float: left;
	color: white;
	font-size: 23px;
}

nav.desktop {
	float: right;
}

nav.desktop ul {
	position: relative;
	top: 8px;
	list-style-type: none;
}

nav.desktop li {
	font-size: 16px;
	display: inline-block;
	padding: 0 15px;
}

nav.desktop a {
	color: white;
	text-decoration: none;
}

nav.desktop a:hover {
	text-decoration: underline;
}

section.search1 {
	background: #1767e8;
	padding: 30px 0;
	text-align: center;
	color: white;
}

section.search1 h2 {
	font-size: 38px;
	font-weight: normal;
}

section.search1 input[type=text] {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top: 15px;
	font-size: 18px;
}

section.search2 {
	padding: 30px 0;
	background: #1767e8;
	color: white;
	border-top: 1px solid white;
}

.form-group {
	float: left;
	width: 50%;
	padding: 0 10px;
	margin-bottom: 10px;
}

.form-group label {
	display: block;
}

.form-group input[type=text],
.form-group input[type=number] {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 10px;
}

section.lista-imoveis{
	padding:30px 0;
}


section.lista-imoveis .row-imoveis{
	display: flex;
	background: rgb(225,225,225);
	border-radius: 20px;
	margin-bottom: 30px;
}

.r1{width: 30%;}
.r1 img{max-width: 100%;display: block;}
.r2{width: 70%;}

.r2{
	padding:20px;
	color: #646464;
	font-size: 15px;
}

.r2 p{
	border-bottom: 1px solid #646464;
	padding:8px 0;
	text-align: left;
}
.card-title {
	padding: 10px 0;
	border-bottom: 2px solid #ccc;
	color: #646464;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 20px;
}
/*###############################################################################*/

footer {
	background: #313462;
	padding: 30px 0;
}

footer p {
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
}

footer.fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.w50, .w33 {
		width: 100%;
		padding: 20px;
	}

	.form-group {
		width: 100%;
	}
}