:root {
    --header: #3b5998;
    --body: #FFFFF;
    --btlogin: #4267b2;
    --btborder: #29487d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body, html {
    height: 100%;
}

body {
    background: var(--body);
}

input {
    outline: none;
}

.container {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header{
    padding: 8px 0;
    background: var(--header);
}

header .logo {
    float: left;
}

header .logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header .form-login {
    float: right;
}

header .form-login input[type=email],
header .form-login input[type=password] {
    width: 200px;
    height: 25px;
    border: 1px solid #646464;
    padding-left: 8px;
}

header .form-login input[type=submit] {
    background: var(--btlogin);
    color: white;
    cursor: pointer;
    height: 25px;
    width: 120px;
    border: 1px solid var(--btborder);
}

.btn-logout {
    background: var(--btlogin);
    color: white;
    border: 1px solid var(--btborder);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

.box-cadastro .box1 {
    float: left;
    width: 60%;
}

.box-cadastro .box1 img {
    width: 50%;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.box-cadastro .box2 {
    float: right;
    width: 40%;
}

.box-cadastro .box2 h2 {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 30px;
    border-bottom: 2px solid #646464;
}

.box-cadastro .box2 input[type=text],
.box-cadastro .box2 input[type=email],
.box-cadastro .box2 input[type=password] {
    width: 100%;
    height: 40px;
    padding-left: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #646464;
}

.box-cadastro .box2 input[type=file] {
    width: 100%;
    border: 1px solid #646464;
    padding: 8px;
    border-radius: 10px;
}

.box-cadastro .box2 input[type=submit] {
    background: var(--btlogin);
    color: white;
    cursor: pointer;
    height: 35px;
    width: 130px;
    border: 1px solid var(--btborder);
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.box-cadastro .box2 p {
    color: #646464;
    font-size: 17px;
    margin: 8px 0;
    font-weight: lighter;
}

.w40 {
    background: #ddd;
    width: 40%;
    float: left;
    border: 4px solid #ddd;
}

.w30 {
    background: #ddd;
    width: 30%;
    float: left;
    border: 4px solid #ddd;
}

.w100 {
    background: #ddd;
    width: 100%;
    float: left;
    border: 4px solid #ddd;
}

.w70 {
    background: #ddd;
    width: 70%;
    float: left;
    border: 4px solid #ddd;
}

.w60 {
    background: #ddd;
    width: 60%;
    float: left;
    border: 4px solid #ddd;
}

h2.title {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;;
    border-bottom: 2px solid #ccc;
}

.container-img {
    margin-top: 10px;
}

.container-img img {
    width: 100%;
}

.lista-amigos {
    margin-top: 10px;
}

.lista-amigos h3 {
    background: var(--header);
    color: white;
    padding:8px;
}

.img-single-amigo {
    width: 33.3%;
    padding-top: 33.3%;
    position: relative;
    float: left;
}

.img-single-amigo-wrapper {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: #ccc;
    background-size: 100% 100%;
}

.membro-listagem {
    width: 20%;
    float: left;
    padding:20px;
}

.membro-listagem p {
    color: #646464;
    font-size: 15px;
}

.membro-listagem a {
    display: inline-block;
    background: var(--header);
    color: white;
    text-decoration: nonde;
    padding:5px 10px;
    margin-top: 10px;
}

.box-imagem {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.box-imagem-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
}

section.feed form {
    margin-top: 15px;
}

section.feed textarea {
    width: 100%;
    height: 120px;
    border:1px solid #ccc;
    padding:8px;
}

section.feed input[type=submit] {
    background: var(--btlogin);
    color: white;
    cursor: pointer;
    height: 25px;
    width: 120px;
    border: 1px solid var(--btborder);
}

.img-user {
    float: left;
    margin-top: 15px;
}

.img-user img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.post-user {
    margin:15px 0;
}
.post-user {
    float: left;
    width: calc(100% - 60px);
    padding:5px 10px;
}

.post-user p {
    padding:0 5px;
    font-size: 15px;
}

.alert {
    padding: 15px 0;
    text-align: center;
}

.alert-info {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: #ffffff;
}

.alert-success {
    background-color: #198754;
    border-color: #198754;
    color: #ffffff;
}

.alert-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .box-cadastro .box1 {
        width: 100%;
    }

    .box-cadastro .box2 {
        width: 100%;
    }
}