* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body, html {
    height: 100%;
}

.container {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header{
    background: #2196f3;
}

.logo {
    float: left;
    padding: 10px 0;
}

.logo a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing:3px;
}

nav.desktop {
    float: right;
}

nav.desktop li {
    display: inline-block;;
    font-weight: 300;
}

nav.desktop a {
    color: white;
    text-decoration: none;
    padding: 13px 15px;
    display: inline-block;
}

.chamada-escolher {
    text-align: center;
    background: #2185f0;
    padding: 15px 0;
}

.chamada-escolher h2 {
    font-weight: normal;
    font-size: 21px;
    color: white;
}

.lista-items {
    padding: 40px 0;
}

.produto-sigle-box {
    float: left;
    width: 33.3%;
    padding: 0 15px;
    text-align: center;
}

.produto-sigle-box img {
    width: 100%;
}

.produto-sigle-box p {
    color: #646464;
    font-size: 15px;
    font-weight: 300;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #646464;
}

.produto-sigle-box a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    background: #2196f3;
    padding: 10px;
}

.tabela-pedidos {
    margin-top: 40px;
}

.tabela-pedidos h2 {
    font-weight: normal;
    font-size: 24px;
    margin: 15px 0;
    border-bottom: 2px solid #646464;
}

.tabela-pedidos table {
    width: 100%;
    border-collapse: collapse;
}

.tabela-pedidos tr:first-child td {
    font-weight: bold;
}

.tabela-pedidos td {
    border: 1px solid #646464;
    padding: 8px;
    color: #646464;
}

.finalizar-pedido h2 {
    float: right;
    padding: 10px 0;
    color: #4b4b4b;
    font-weight: normal;
}

.btn-pagamento {
    display: inline-block;
    padding: 6px 10px;
    background: #2196f3;
    color: white;
    float: right;
    text-decoration: none;
}

.alert {
    padding: 15px 0;
    text-align: center;
}

.alert-info {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: #ffffff;
}

.alert-success {
    background-color: #198754;
    border-color: #198754;
    color: #ffffff;
}

.alert-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}