* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body, html {
    height: 100%;
}

body {
    background: rgb(225,225,225)
}

.container {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

:root {
    --header: #383f9f;
}

header {
    background: var(--header);
    padding: 8px 0;
}

header div.logo {
    float: left;
}

header div.logo a {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

header nav.desktop {
    float: right;
}

header li {
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
}

header a {
    color: white;
    text-decoration: none;
}

header ul a:hover {
    text-decoration: underline;
    color: white;
}

.box-login {
    width: 100%;
    max-width: 700px;
    background: white;
    padding: 20px 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.box-login h2 {
    color: var(--header);
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0;
}

.box-login input[type=email],
.box-login input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.box-login input[type=submit] {
    display: block;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: white;
    border: 0;
    background: var(--header);
}

.box {
    background: white;
    padding: 30px;
    margin-top: 10px;
}

.apresentacao, .video-aula{
    width: 100%;
    padding-top: 60%;
    position: relative;
    margin-top: 10px;
}

.apresentacao iframe, .video-aula iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.deseja-estudar {
    font-size: 20px;
    color: #646464;
    margin: 10px 0;
    border-bottom: 2px solid #646464;
}

.nome-modulo {
    font-size: 20px;
    color: #646464;
    margin: 15px 0;
}

.nome-aula {
    font-size: 17px;
    color: #646464;
    border-bottom: 1px solid #646464;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
    padding-left: 10px;
}

.nome-aula a {
    text-decoration: none;
    color: black;
}

.btn-chamada {
    display: inline-block;
    background: var(--header);
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    margin-top: 10px;
}

.alert {
    padding: 15px 0;
    text-align: center;
}

.alert-info {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: #ffffff;
}

.alert-success {
    background-color: #198754;
    border-color: #198754;
    color: #ffffff;
}

.alert-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}