body {
	background-color: #eeeeee;
}

.login, .register {
	max-width: 500px;
	border:1px solid #ccc;
	border-radius: 1rem;
	margin-top: 5rem;
	padding: 2rem;
	text-align: center;
}

.login h1, .register h1 {
	border-bottom:1px solid #ccc;
	padding: 1rem;
}

.list-group-item:not(.active):hover {
	background-color: rgba(0,0,0,.095);
}

.searchResults {
	width: 400px;
	background-color: #fff;;
	position: absolute;
	border: 1px solid #ccc;
}

div.box-content {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.box-content h2 {
	font-weight: 300;
	font-size: 23px;
}

div.box-content form {
	margin: 30px 0;
}

div.box-content .form-group {
	margin: 15px 0;
}

div.box-content form label {
	font-weight: 300;
	font-size: 17px;
	display: block;
	color: black;
}

div.box-content form input[type=text],
div.box-content form input[type=email],
div.box-content form input[type=password],
div.box-content form input[type=date],
div.box-content form input[type=number],
div.box-content form select {
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 40px;
	padding-left: 8px;
	margin-top: 8px;
	border: 1px solid #ccc;
}

div.box-content form input[type=file] {
	border: 1px solid #ccc;
	width: 100%;
	padding: 8px;
	margin-top: 8px;
}

div.box-content form textarea {
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 150px;
	padding: 8px;
	margin-top: 8px;
	border: 1px solid #ccc;
}

div.box-content form input[type=submit] {
	width: auto;
	padding: 3px 8px;
	height: 40px;
	cursor: pointer;
	background: #00bfa5;
	margin-top: 8px;
	color: white;
	border: 0;
	font-size: 16px;
}


/*CHAT*/
.box-chat-online {
	margin: 20px 0;
	border: 1px solid #ccc;
	padding: 20px 10px 20px 10px;
	height: 400px;
	overflow-y: scroll;
}
.mensagem-chat {
	padding: 8px 0;
	border-bottom: 1px dotted rgb(220, 220, 220);
}
.mensagem-chat span {
	background: #84a65a;
	padding: 0 4px;
	border-radius: 10px;
}

.mensagem-chat p {
	font-size: 18px;
	color: #646464;
	padding: 10px;
}
/*CHAT*/

/*Calendario*/
table.calendario-table td {
	border: 1px solid #ccc !important;
	cursor: pointer !important;
	text-align: center !important;
}

.selected {
	background: red !important;
}

.box-tarefas-single {
	background: #84a65a !important;
	float: left !important;
	width: 33.3% !important;
	border: 4px solid white !important;
	font-size: 20px !important;
}

.box-tarefas-single h2, .box-tarefas-single p {
	font-size: 20px !important;
	font-weight: normal !important;
	padding: 0 8px !important;
	color: white !important;
}
/*Calendario*/