* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
}

/* classes base **/
.center {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 2%;
}

.clear {
	clear: both;
}

.layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1;
}
/* fim **/

section.main {
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 15px 0;
	min-height: 800px;
	position: relative;
}

section.main header {
	z-index: 2;
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.icons-social {
	float: right;
}

.icons-social a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin: 0 15px;
}

.logo {
	float: left;
	font-size: 23px;
	font-weight: bold;
	color: white;
	margin-top: 20px;
}

nav.mobile {
	display: none;
	float: right;
}

nav.mobile i {
	font-size: 30px;
	color: white;
	cursor: pointer;
	position: relative;
	top: 23px;
}

nav.mobile ul {
	display: none;
	position: absolute;
	left: 0;
	top: 93px;
	list-style-type: none;
	background: white;
	width: 100%;
	z-index: 2;
}

nav.mobile li {
	padding: 8px 0;
	text-align: center;
	font-weight: lighter;
	border: 1px solid #444;
}

nav.mobile a {
	text-decoration: none;
	color: #444;
	display: block;
}

nav.desktop {
	float: right;
	margin-top: 20px;
}

nav.desktop ul {
	list-style-type: none;	
}

nav.desktop li {
	font-size: 17px;
	font-weight: lighter;
	margin: 0 15px;
	display: inline-block
}

nav.desktop a {
	color: white;
	text-decoration: none;
}

.conteudo-header {
	margin: 110px 0;
	max-width: 700px;
	position: relative;
	z-index: 1;
}

.conteudo-header h2 {
	font-size: 44px;
	color: white;
	font-weight: lighter;
}

.conteudo-header h2 > span {
	color: #2692FF;
}

.conteudo-header p {
	color: white;
	margin-top: 18px;
	font-size: 16px;
	font-weight: lighter;
}

.conteudo-header a {
	display: block;
	width: 177px;
	height: 44px;
	background: #2692FF;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	line-height: 44px;
	border-radius: 20px;
}

.chamada-planos {
	width: 100%;
	text-align: center;
	padding: 27px 2%;
	background: rgb(200,200,200);
}

.chamada-planos h2 {
	display: inline-block;
	border-top: 2px solid #2692FF;
	color: #2692FF;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: lighter;
}

.box-planos {
	padding: 40px 0;
}

.box-planos > .center {
	display: flex;
	flex-wrap: wrap;
}

.box-planos-single {
	width: 33.3%;
	padding: 0 40px;
}

.box-planos-wrapper {
	width: 100%;
	border: 1px solid #ccc;
	min-height: 300px;
	-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.box-planos-single h2{
	background: #2693FF;
	color: white;
	text-align: center;
	padding: 3px;
	font-weight: lighter;
}

.pontos-plano {
	padding: 8px 0 15px 0;
}

.preco {
	margin-top: 10px;
	padding: 15px 0;
	text-align: center;
}

.preco h2 {
	border-top: 1px solid #ccc;
	display: inline-block;
	font-size: 24px;
	color: #777;
	background-color: transparent;
	padding: 0 20px;
}

.box-planos-single p {
	color: #777777;
	font-size: 17px;
	margin-top: 8px;
	margin-left: 20px;
}

section.paralax {
	width: 100%;
	min-height: 300px;
	background-image: url('../images/Website-Design-Background-1024x576.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 40px 0;
	position: relative;
}

section.paralax > .center {
	position: relative;
	z-index: 2;
	max-width: 960px;
	color: white;
}

section.paralax h2 { 
	text-align: center;
}

section.paralax p {	
	margin-top: 15px;
}

.overlay-paralax {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(20,20,20,0.6);
	top: 0;
	left: 0;
}

section.final-section {
	padding: 30px 0;
}

.w50 {
	float: left;
	width: 50%;
	padding: 0 20px;
	margin: 30px 0;
}

section.final-section h2 {
	color: #777;
	font-weight: lighter;
	font-size: 24px;
	position: relative;
}

section.final-section h2 > .border-efeito {
	width: 50px;
	height: 2px;
	background: #777;
	position: absolute;
	transition: 0.4s;
}

section.final-section h2:hover > .border-efeito {
	width: 100px;
}

.contato form {
	margin-top: 15px;
}

.contato input:not([type=submit]) {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top: 10px;
	display: block;
	font-size: 15px;
}

.contato textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding: 8px;
	margin-top: 10px;
	font-size: 15px;
	resize: vertical;
}

.contato input[type=submit] {
	font-size: 15px;
	cursor: pointer;
	background: #2692FF;
	color: white;
	border: 0;
	width: 100px;
	height: 33px;
	border-radius: 30px;
	margin-top: 10px;
}

.time > .w50 {
	width: 48%;
	margin: 15px 1%;
}

.equipe-single {
	border: 1px solid #ccc;
	min-height: 240px;
	padding: 10px 8px;
	padding-bottom: 30px;
	-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

.topo-box-usuario {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.box-avatar {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ccc;
	background-image: url('../images/7.jpg');
	vertical-align: middle;
}

.info-usuario {
	display: inline-block;
	color: #777;
	padding-left: 8px;
	vertical-align: middle;
}

.descricao-usuario-box {
	color: #999999;
	font-weight: lighter;
	font-size: 14px;
	margin-top: 10px;
}

footer {
	width: 100%;
	padding: 10px 2%;
	background: #444;
	text-align: center;
	color: white;
}

@media screen and (max-width: 768px) {

	nav.mobile {
		display: block;
	}

	nav.desktop {
		display: none;
	}

	.box-planos-single {
		width: 100%;
		margin: 10px 0;
	}
	.w50 {
		width: 100%;		
	}

	.time > .w50 {
		width: 100%;
		margin: 15px 0;
	}
}