* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

body, html {
	height: 100%;
}

.clear {
	clear: both;
}

.container {
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w50 {
	padding: 0 10px;
	width: 50%;
}

.w33 {
	width: 33.3%;
	padding: 0 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-center {
	text-align: center;
}

img {
	width: 100%;
	max-width: 500px;
}

/** header do site */
header {
	background: #30437a;
	padding: 20px 0;
}

header .logo a {
	font-size: 23px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

nav.desktop ul {
	list-style-type: none;
	position: relative;
	top: 6px;
}

nav.desktop li {
	display: inline-block;
	padding: 0 30px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 300;
}

nav.desktop a {
	color: white;
	text-decoration: none;
	transition: 0.6s;
}

nav.desktop a:hover {
	text-decoration: underline;
}

nav.mobile {
	display: none;
}

nav.mobile i {
	color: white;
	font-size: 25px;
	cursor: pointer;
}

section.banner-container {
	width: 100%;
	height: 600px;
	position: relative;
}

.banner-single {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51,51,51,0.5);
	z-index: 1;
}

.overlay-loading {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.4);
}

.overlay-loading img {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.msg-success {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	padding: 15px 2%;
	text-align: center;
	color: #008000;
	background: #dff2bf;
	font-weight: bold;
	font-size: 20px;
	z-index: 999;
	width: 100%;
}

.msg-error {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	padding: 15px 2%;
	text-align: center;
	color: white;
	background: #ff4040;
	font-weight: bold;
	font-size: 20px;
	z-index: 999;
	width: 100%;
}

.bullets {
	position: absolute;
	z-index: 5;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.bullets span{
	display: inline-block;
	background-color: #444;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	color: white;
	cursor: pointer;
	margin: 0 10px;
}

.bullets span.active-slide {
	background-color: white;
}

section.banner-container form {
	width: 93%;
	max-width: 600px;
	z-index: 3;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
}

section.banner-container form h2 {
	color: white;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
}

section.banner-container form input[type=email]{
	width: 100%;
	height: 66px;
	background: white;
	color: #333;
	font-size: 22px;
	padding-left: 10px;
	margin-top: 10px;
}

section.banner-container form input[type=submit]{
	width: 100%;
	height: 66px;
	background: #00C59E;
	color: white;
	cursor: pointer;
	border: 0;
	margin-top: 10px;
}

section.descricao-autor {
	padding: 40px 0;
}

section.descricao-autor h2 {
	font-size: 28px;
	font-weight: 300;
	color: #444;
}

section.descricao-autor img {
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}

section.descricao-autor p {
	font-size: 16px;
	color: #444;
	margin-top: 20px;
}

section.especialidades {
	padding: 40px 0;
	background: #ccc;
}

section.especialidades h2.title {
	font-size: 30px;
	font-weight: 300;
	color: #999;
	text-align: center;
}

.box-especialidade {
	margin: 40px 0;
	padding: 0 30px;
	text-align: center;
}

.box-especialidade h3 {
	font-size: 40px;	
}

.box-especialidade h4 {
	font-size: 25px;
	font-weight: 300;
	color: #bababa;
	margin-top: 10px;
}

.box-especialidade p {
	color: #444;
	font-size: 15px;
	margin-top: 10px;
}

section.extras {
	padding: 30px 0;
	background: #404580;
}

.container-servicos,.container-depoimentos {
	padding: 0 50px;
}

section.extras .title {
	font-weight: 300;
	color: white;
	font-size: 25px;
}

.depoimento-sigle {
	padding: 15px 0;
	border-bottom: 1px solid #5056A0;
}

div.depoimento-descricao {
	color: white;
	font-size: 15px;
	font-weight: 300;
	text-align: justify;
}

p.nome-autor {
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-top: 8px;
	text-align: left;
}

div.servicos ul {
	margin: 20px 0;
	list-style-position: inside;
}

div.servicos li {
	color: white;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 15px;
}

.erro-404 {
	transform: translateY(25%);
	-ms-transform: translateY(25%);
}

.erro-404 h2, p {
	text-align: center;
	margin-top: 20px;
}

.map {
	background-color: white;
	width: 100%;
	height: 50%;
}

.contato-container {
	padding: 40px 0;
	text-align: center;
}

.contato-container input[type=text], .contato-container input[type=email] {
	margin: 8px 0;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	font-size: 16px;
	color: #444;
	max-width: 500px;
}

.contato-container textarea {
	margin: 8px 0;
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding-left: 8px;
	font-size: 16px;
	color: #444;
	max-width: 500px;
	resize: vertical;
}

.contato-container input[type=submit] {
	background: #08c59e;
	width: 140px;
	height: 40px;
	color: white;
	cursor: pointer;
	border: 0;
}

.header-noticias {
	width: 100%;
	background: #333864;
	padding: 40px 0;
}

.header-noticias h2:nth-of-type(1) {
	font-size: 41px;
}

.header-noticias h2 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.header-noticias h2 > b {
	color: #f4085c;
}

.container-portal {
	padding: 50px 0;
}

.sidebar {
	width: 30%;
	float: left;
}

.box-content-sidebar {
	padding: 15px;
	background: #dddddd;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}

.box-content-sidebar h3 {
	font-weight: normal;
	font-size: 18px;
}

.box-content-sidebar input[type=text] {
	width: 100%;
	height: 40px;
	border: 1px solid rgb(220,220,220);
	padding-left: 8px;
	margin: 10px 0;
}

.box-content-sidebar select {
	width: 100%;
	height: 40px;
	border: 1px solid rgb(220,220,220);
	padding-left: 8px;
	margin: 10px 0;
}

.box-content-sidebar input[type=submit] {
	cursor: pointer;
	background: #f40b5c;
	color: white;
	border: 0;
	width: 115px;
	height: 35px;
	margin: 10px 0;
	font-weight: bold;
}

.autor-box-portal {
	margin-top: 10px;
}

.image-autor-portal img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin: 20px 0;
}

.autor-box-portal h3,
.autor-box-portal p {
	color: #646464;
}

.autor-box-portal p {
	font-size: 14px;
	font-weight: lighter;
	margin-top: 8px;
}

.conteudo-portal {
	float: left;
	width: 70%;
	padding-left: 50px;
}

.header-conteudo-portal {
	color: #333864;
}

.header-conteudo-portal h2 {
	font-size: 23px;
}

.header-conteudo-portal h2 > span {
	border-top: 1px solid #333864;
}

.box-single-conteudo-portal {
	margin: 15px 0;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}

.box-single-conteudo-portal h2 {
	color: #646464;
	font-weight: normal;
	font-size: 22px;
}

.box-single-conteudo-portal p {
	color: #646464;
	font-weight: normal;
	font-size: 15px;
	margin-top: 8px;
	text-align: justify;
}

.box-single-conteudo-portal a {
	display: block;
	padding: 0 3px;
	font-size: 15px;
	text-decoration: none;
	color: white;
	background: #00b95c;
	font-weight: normal;
	width: 113px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-top: 8px;
}

.paginator {
	text-align: center;
}

.paginator a {
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	padding: 6px 4px;
	border: 1px solid rgb(220,220,220);
	color: rgb(100,100,100);
}

.paginator a.active-page {
	background: rgb(220, 220, 220);
}

section.noticia-single {
	padding: 40px 0;
	color: #646464;
}

section.noticia-single header {
	background-color: transparent;	
}

section.noticia-single h1 {
	font-size: 30px;
	border-bottom: 2px solid #646464;
	margin: 10px 0;
}

section.noticia-single article {
	margin-top: 15px;
}

section.noticia-single h3,
section.noticia-single h2 {
	margin: 10px 0;
}

section.noticia-single p {
	margin: 10px 0;
	text-align: justify;
}

section.noticia-single ul {
	list-style-position: inside;
}

section.noticia-single img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

section.noticia-single input[type=text] {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding: 8px;
	padding-left: 8px;
	margin-bottom: 8px;
}

section.noticia-single textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding: 8px;
}

section.noticia-single input[type=submit]{
	display: block;
	width: 100px;
	height: 40px;
	background: #00C59E;
	color: white;
	cursor: pointer;
	border: 0;
	margin-top: 10px;
}

.box-comment-noticia {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
}

h2.postar-comentario {
	background: #30437a;
	color: white;
	padding: 8px;
	font-weight: normal;
	font-size: 18px;
}

footer {
	background: #313462;
	padding: 30px 0;
}

footer p {
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
}

footer.fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.alert {
	padding: 15px 0;
	text-align: center;
}

.alert-info {
	background-color: #0dcaf0;
	border-color: #0dcaf0;
	color: #ffffff;
}

.alert-success {
	background-color: #198754;
	border-color: #198754;
	color: #ffffff;
}

.alert-danger {
	background-color: #dc3545;
	border-color: #dc3545;
	color: #ffffff;
}

@media screen and (max-width: 768px) {
	nav.desktop {
		display: none;
	}

	nav.mobile {
		display: block;
	}

	nav.mobile ul {
		display: none;
		position: absolute;
		top: 65px;
		left: 0;
		z-index: 3;
		text-align: center;
		width: 100%;
	}

	nav.mobile li {
		font-size: 15px;
		display: block;
		border-bottom: 1px solid #ccc;
		background: white;
		padding: 8px 0;
		font-weight: 300;
	}

	nav.mobile li a {
		display: block;
		color: #444;
		text-decoration: none;
	}

	.w50, .w33 {
		width: 100%;
		padding: 20px;
	}

	img {
		display: block;
		margin: 0 auto;
		float: none !important;
	}

	.box-especialidade {
		padding: 40px 20px;
		margin: 0;
	}

	.conteudo-portal {
		width: 100%;
		padding-left: 0;
		margin-top: 20px;
		text-align: center;
	}

	.sidebar {
		width: 100%;
		text-align: center;
	}

	.box-single-conteudo-portal a {
		text-align: center;
		display: inline-block;
		margin-top: 10px;
	}
}